* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
    line-height: 1.6;
    
    height: 1000vh;
}

aside {
    position: sticky;
    top: .5rem;
}

.main-section {
    min-height: 1000vh;
    display: flex;

    background: #F67280;
    color: #355C7D;
}

.title-section {
    min-height: 100vh;
    display: flex;

    background: #F67280;
    color: #355C7D;
}

.title-container {
    position: fixed;
    height: 92px;
    width: 420px;
    border-radius: 0px;
    
    background: #ffffff;
    color: #000000;
    left: 38%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    
    margin-top: 10px;
    display: flex;
    font-size: 64px;
    mix-blend-mode: screen;
    
}

.title-container:hover {
    transform: translateY(-10px);
}

.sticky {
    position: sticky;
}